node_modules
.DS_Store
/.cache
/build
/build-v2
/public/build
/public/build-v2
.env
/app/css
/instrumented
/coverage
/reports
/test-results
/.nyc_output
/tests/cypress/screenshots
/tests/cypress/downloads
/false
/dump.rdb
/__blobstorage__
__azurite_db_blob__.json
__azurite_db_blob_extent__.json
/.vscode
.idea
